{% assign id = include.id | default: 'main' %}
{% assign elements = include.elements | default: 'brand-image|links|search|bell|profile' | split: '|' %}
{% assign title = include.title | default: 'Brand' %}

<nav class="navbar navbar-expand-lg px-0 py-3">

	{% for element in elements %}
	{% if element == 'brand' %}
	<a class="navbar-brand" href="#">{{ title }}</a>
	{% elsif element == 'brand-image' %}
	<a class="navbar-brand" href="#"><img src="{{ site.base }}/assets/brand/tabler.svg" class="navbar-brand-img" alt=""/></a>
	{% elsif element == 'brand-both' %}
	<a class="navbar-brand" href="#"><img src="{{ site.base }}/assets/brand/tabler-square.svg" class="navbar-brand-img mr-3" alt=""/>{{ title }}</a>
	{% elsif 1 == 1 %}

	{% endif %}
	{% endfor %}

	<button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-toggler-{{ id }}">
		<i class="icon fe fe-menu"></i>
	</button>

	<div class="collapse navbar-collapse" id="navbar-toggler-{{ id }}">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="https://github.com/tabler/tabler" class="btn btn-sm btn-outline-primary mr-2" target="_blank">Source code</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
		</ul>
	</div>

	<ul class="navbar-nav">
		<li class="nav-item dropdown d-flex">
			<a href="#" class="nav-link d-flex p-0" data-toggle="dropdown">
				<span class="avatar" style="background-image: url({{ site.base }}/{{ user.photo }})"></span>
				<span class="ml-2 d-none d-lg-block">
						<span class="text-default">{{ user.name }} {{ user.surname }}</span>
						<small class="text-muted d-block mt-1">Administrator</small>
					</span>
			</a>
			<div class="dropdown-menu dropdown-menu-right mt-2">
				<a class="dropdown-item" href="#">
					<span>Profile</span>
				</a>
				<a class="dropdown-item" href="#">
					<span>Settings</span>
				</a>
				<a class="dropdown-item" href="#">
					<span class="float-right"><span class="badge badge-primary">6</span></span>
					<span>Inbox</span>
				</a>
				<a class="dropdown-item" href="#">
					<span>Message</span>
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Need help? </a>
				<a class="dropdown-item" href="#">Sign out</a>
			</div>
		</li>
	</ul>
</nav>


<!--<div class="navbar p-0">-->
<!--<a class="navbar-brand" href="{{ site.base }}/index.html">-->
<!--<img src="{{ site.base }}/assets/brand/tabler.svg" class="navbar-brand-img" alt="tabler.io">-->
<!--</a>-->
<!--<div class="nav order-lg-2">-->
<!--<div class="nav-item">-->
<!--<a href="{{ site.github_url }}" class="btn btn-sm btn-outline-primary" target="_blank">Source code</a>-->
<!--</div>-->
<!--<div class="dropdown d-none d-md-flex">-->
<!--<a class="nav-link icon" data-toggle="dropdown">-->
<!--<i class="fe fe-message-square"></i>-->
<!--</a>-->
<!--<div class="dropdown-menu dropdown-menu-right">-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto asperiores dolorem, est fugiat in maxime natus officia velit voluptas! Ab asperiores-->
<!--delectus dolore dolores maxime nesciunt qui quia totam.-->
<!--</div>-->
<!--</div>-->
<!--<div class="dropdown d-none d-md-flex">-->
<!--<a class="nav-link icon" data-toggle="dropdown">-->
<!--<i class="fe fe-bell"></i>-->
<!--<span class="nav-unread"></span>-->
<!--</a>-->
<!--<div class="dropdown-menu dropdown-menu-right">-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto asperiores dolorem, est fugiat in maxime natus officia velit voluptas! Ab asperiores-->
<!--delectus dolore dolores maxime nesciunt qui quia totam.-->
<!--</div>-->
<!--</div>-->
<!--<div class="btn-group">-->
<!--<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--Right-aligned menu-->
<!--</button>-->
<!--<div class="dropdown-menu dropdown-menu-right">-->
<!--<button class="dropdown-item" type="button">Action</button>-->
<!--<button class="dropdown-item" type="button">Another action</button>-->
<!--<button class="dropdown-item" type="button">Something else here</button>-->
<!--</div>-->
<!--</div>-->

<!--<div class="dropdown ml-3">-->
<!--<a href="#" class="nav-link" data-toggle="dropdown">-->
<!--<span class="avatar" style="background-image: url({{ site.base }}/{{ user.photo }})"></span>-->
<!--<span class="ml-2 d-none d-lg-block">-->
<!--<span class="text-default">{{ user.name }} {{ user.surname }}</span>-->
<!--<small class="text-muted d-block mt-1">Administrator</small>-->
<!--</span>-->
<!--</a>-->
<!--<div class="dropdown-menu dropdown-menu-right">-->
<!--<a class="dropdown-item" href="#">-->
<!--<span>Profile</span>-->
<!--</a>-->
<!--<a class="dropdown-item" href="#">-->
<!--<span>Settings</span>-->
<!--</a>-->
<!--<a class="dropdown-item" href="#">-->
<!--<span class="float-right"><span class="badge badge-primary">6</span></span>-->
<!--<span>Inbox</span>-->
<!--</a>-->
<!--<a class="dropdown-item" href="#">-->
<!--<span>Message</span>-->
<!--</a>-->
<!--<div class="dropdown-divider"></div>-->
<!--<a class="dropdown-item" href="#">Need help? </a>-->
<!--<a class="dropdown-item" href="#">Sign out</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="collapse navbar-collapse order-lg-1" id="navbarToggler">-->
<!--<ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">-->
<!--<li class="nav-item"><a href="#" class="nav-link">Dashboard</a></li>-->
<!--<li class="nav-item dropdown">-->
<!--<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Projects</a>-->
<!--<div class="dropdown-menu mt-2 text-color" role="menu">-->
<!--<a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-tag"></i> Action </a>-->
<!--<a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-pencil"></i> Another action </a>-->
<!--<a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-reply"></i> Something else here</a>-->
<!--<div class="dropdown-divider"></div>-->
<!--<a href="#" class="dropdown-item"><i class="dropdown-icon fa fa-ellipsis-h"></i> Separated link</a>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->